.searchPart{
    top : 30%;
}

.topImage{
    position: relative;
    width: 100%;
    height: 300px;
}

.restNum{
    position: relative;
    right: 8%;
    margin-top: 1%;
}

.area{
    display: inline-block;
    border-bottom: 3px black dotted ;
    font-weight: bold;
}

.downarrow {
    float: left;
	z-index: 1;
	position: relative;
    border: solid black;
    right:2%;
	margin-top : 8%;
	border-width: 0 3px 3px 0;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

hr.style1 { 
    position: relative;
    top:40%;
    height:1px;
    border:none;
    color:#000;
    background-color:rgb(226, 223, 223);
    width:100%;
    text-align:center;
    margin: 0 auto;
}

.resizeSerachButtom{
    position: relative;
    font-family: FontAwesome , IranSans;
    font-size: 15px;
    background-color: rgb(248, 248, 248);
	color: gray;
    width: 35%;
    right: 8%;
    margin-top: 1%;
}

.underSerachBox{
    margin-top:2%;
}

.searchPanel{
    margin-top : 2%;
    background-color: rgb(248, 248, 248);
}

.filtering{
    height: 100%;
    right:2%;
    padding: 0;
}

.filterText{
    margin-top:3%;
    font-size : 12px;
    padding-right: 15px;
}

hr.style2 { 
    position: relative;
    height:1px;
    border:none;
    background-color:rgb(226, 223, 223);
    margin-bottom:0;
}

.searchFilter{
    padding: 0.5rem 0.75rem;
}

.resizeSerachFood{
    padding: 0;
    text-align: right;
    position: relative;
    font-family: FontAwesome , IranSans;
    font-size: 9px;
    background-color: rgb(248, 248, 248);
	color: gray;
    top:3%;
}

.cBox{
    margin-right: 5%;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 25%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.cBox:checked {
    background:red;
}

.cBoxText{
    width:80%;
    margin-right:5%;
    cursor: pointer;
}

.foodSearch{
    padding-top: 4%;
    height: 20%;
    padding-bottom: 4%;
}

.cButtonDiv{
    cursor: pointer;
    top:50%;
}

.cButtonDiv:hover{
    background-color: #ddd;
}

.more{
    width:100%;
}

.resizebutton{
    width: 100%;
}

.lastButton{
    padding: 0;
}

.changeDisplay{
    display: inline-flex;
}

.changeDisplay:hover{
    background: rgb(203,203,203);
}

.topMargin{
    margin-top:4%;
}

.restImgresize{
    padding: 0;
}

.restImgsize{
    width: 100%;
    height: 75%;
	border: 1px solid lightgray;
	border-radius:5%;
}

.catFont{
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.addFont{
    font-size: 12px;
}

.textAligen{
    text-align: right;
}

.addMargin{
    margin-top: 10%;
}

.fixDispley{
    display: inline-flex;
}

.react-rater-star.is-active{
    color:rgb(255,195,0); 
}

.rateSize{
    font-size:85%;
    color:rgb(255,195,0); 
    font-weight: bold;
}

.sefareshRounded{
    font-family: FontAwesome , IranSans;
    border-radius: 25rem;
    color: red;
}

.sefareshRounded:hover{
    text-decoration: none;
    color: white;
}

.addShadow:hover{
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.CloseResturant{
    padding-top : 10%;
    padding-bottom: 5%;
    font-weight: bold;
}

.addRowMargin{
    margin-bottom: 5%;
}

.addShadowClose{
    background-color : rgb(240,240,240)
}

.addShadowClose:hover{
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.1);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.offsetRight{
    margin-right:18%;
}

.topImageOrder{
    position: absolute;
    width: 100%;
    height: 300px;
}

.marginTop{
    margin-top: 10%;
}

.addMarginTop{
    margin-top:4%;
}

